{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - CREATION DE COMPTE{% endblock %}

{% block slider %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}

    <div class="page_wrapper">

        <div class="container">

            <h1 class="bold">Connexion à votre espace</h1>
            <hr/>

            <div class="row" style="margin-top: 30px">

                <div class="col-md-12">
                    {% if error is defined and error is not null %}
                        <div class="col" style="font-size: 13px; padding: 8px; border: 1px solid rgba(255,123,26,0.33); font-weight: bold; color: #ff7b1a ;background-color: rgba(255,123,26,0.33)"><i class="fas fa-exclamation-triangle warning" style="margin-top: 4px"></i> {{ error.messageKey | trans(error.messagedata, 'security') }}</div>
                    {% endif %}
                    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
                        {% for message in messages %}
                            <div style="font-size: 17px !important;padding: 10px; color: white ;background-color: green;" class="alert-dismissible fade show text-left" role="alert" id="alertMsg">
                                {{ message|raw }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" class="text-dark">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <form method="post" action="{{ path('security_login') }}">
                    <div class="col-md-8">
                        <label for="mail">Adresse email </label>
                        <input type="email" class="form-control" name="_username" id="mail" required="required" placeholder="Entrez votre adresse email">
                    </div>
                    <div class="col-md-8">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" class="form-control" name="_password" id="mdp" placeholder="Entrez le mot de passe" required="required">
                        <span style="text-align: right!important;"><a href="#">Mot de passe oublié ?</a></span>
                    </div>

                    <div class="col-md-12" style="margin-top: 30px">
                        <span>Pas encore de compte ? <a href="{{ path('security_register') }}">Créer un compte gratuitement</a></span>
                    </div>

                    <div class="col-md-8" style="margin-top: 30px">
                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" id="checkBox">
                            <label class="form-check-label" for="checkBox">Se souvenir de moi ?</label>
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin-top: 20px">
                        <button class="border" id="btnCreateAccount" type="submit" style="background-color: #febd2b; padding: 10px; border-radius: 4px; color: white; font-weight: bold">
                            <i class="far fa-user" style="margin-top: 4px"></i> Connexion à mon compte</i>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}
