{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - MON PANIER{% endblock %}


{% block slider %}{% endblock %}


{% block content %}

    <div class="wide_layout">


        <div class="secondary_page_wrapper">

            <div class="container">

                <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

                <ul class="breadcrumbs">

                    <li><a href="{{ path('home_index') }}">Accueil</a></li>
                    <li>error</li>

                </ul>

                <section class="section_offset">

                    <h1 style="margin-right: 10px; font-weight: bold; color: rgba(255,0,0,0.51)"><span class="icon-error">
                        </span>Erreur survenu ! </h1>

                    <!-- - - - - - - - - - - - - - Shopping cart table - - - - - - - - - - - - - - - - -->

                    <div class="table_wrap">

                        <table class="table_type_1 shopping_cart_table">

                            <tbody>

                            <tr>
                                <td colspan="2">
                                    <h3>Il semblerai qu'un problème est survenu, merci de bien verifier vos informations</h3>
                                    <h4>Si vous pensez que c'est une erreur, merci de contacter notre service client.</h4>
                                    <span class="icon-error" style="font-size: 50px!important; color: rgba(255,0,0,0.51)"></span>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <span class="icon-credit-card"></span> Paiement sécurisé en cas de problème, veuillez contacter notre service technique
                                    <br>
                                    <span class="icon-phone-3"> (+225) 07 57 37 36 18</span><br>
                                    <span class="icon-mail-1"> support@sapeurdebaby.com</span><br>
                                </td>
                            </tr>

                            </tbody>

                        </table>

                    </div><!--/ .table_wrap -->


                    <!-- - - - - - - - - - - - - - End of shopping cart table - - - - - - - - - - - - - - - - -->

                </section><!--/ .section_offset -->

            </div><!--/ .container-->

        </div><!--/ .page_wrapper-->

        <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->

    </div><!--/ [layout]-->

{% endblock %}