{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - MON PANIER{% endblock %}


{% block slider %}{% endblock %}


{% block content %}

    <div class="page_wrapper" style="background-color: white">

        <div class="container">
            <div class="alert alert_box_info" style="background-color: #018bc8; color: white!important;">
                <span class="icon-truck"></span><span style="font-weight: bold">Information livraison: </span>
                <span>Livraison partout à Abidjan et dans le grand Abidjan (Anyama, Bingerville, Grand-Bassam, Yopougon Songuon)</span>
            </div>
            <div class="section_offset">
                <form id="estimate_shipping" method="post" action="{{ path('start_command') }}" class="type_2">

                <div class="row">
                    <section class="col-sm-8">

                        <h4>Vos informations pour valider la commande</h4>

                        <div class="theme_box row">

                            <p class="form_caption">Entrer vos informations pour terminer la commande</p>

                            <div class="col-lg-8 col-md-8">
                                <label for="name" class="required bold">Nom & Prénom(s)</label>
                                <input type="text" required name="name" id="name" placeholder="Nom et prenom(s)">
                            </div><!--/ [col] -->
                            <div class="col-lg-4 col-md-4">
                                <label for="contact" class="required bold">Numéro de téléphone</label>
                                <input type="tel" required name="contact" pattern="^[0-9]{10}" maxlength="10" placeholder="0102010124" id="contact">
                            </div><!--/ [col] -->

                            <div class="col-lg-6 col-md-6">
                                <label for="point_livraison" class="required bold">Point livraison</label>
                                <select name="point_livraison" id="point_livraison" required>
                                    <option value="Abidjan">Abidjan</option>
                                    <option value="Grand-abidjan">Grand-Abidjan</option>
                                </select>
                            </div><!--/ [col] -->

                            <div class="col-lg-6 col-md-6 commune_abidjan">
                                <label for="commune_abidjan" class="required bold">Commune</label>
                                <select name="commune" id="commune_abidjan">
                                    <option value="Abobo">Abobo</option>
                                    <option value="Adjamé">Adjamé</option>
                                    <option value="Cocody">Cocody</option>
                                    <option value="Marcory">Marcory</option>
                                    <option value="Marcory">Rivera</option>
                                    <option value="Koumassi">Koumassi</option>
                                    <option value="Plateau">Plateau</option>
                                    <option value="Port bouët">Port bouët</option>
                                    <option value="Treichville">Treichville</option>
                                    <option value="Yopougon">Yopougon</option>
                                </select>
                            </div><!--/ [col] -->
                            <div class="col-lg-6 col-md-6 commune_g_abidjan hide">
                                <label for="commune_g_abidjan" class="required bold">Commune</label>
                                <select name="commune" id="commune_g_abidjan">
                                    <option value="Anyama">Anyama</option>
                                    <option value="Bingerville">Bingerville</option>
                                    <option value="Bassame">Grand-Bassam</option>
                                    <option value="Songon">Yopougon-Songuon</option>
                                </select>
                            </div><!--/ [col] -->

                            <div class="col-lg-12 col-md-12">
                                <label for="lieu" class="required bold">Lieu de livraison</label>
                                <input type="text" required name="lieu" id="lieu" placeholder="Quartier">
                            </div><!--/ [col] -->

                            <div class="col-lg-12 col-md-12" style="margin-top: 10px; margin-bottom: 5px">
                                <label for="" style="font-weight: bold" class="required">Mode de livraison</label>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <input class="form-check-input" type="radio" name="mode_livraison" id="mode_livraison_1" value="2" checked>
                                <label class="form-check-label" for="mode_livraison_1" style="font-weight: bolder;">48 Heures</label>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input class="form-check-input" type="radio" name="mode_livraison" id="mode_livraison_2" value="3">
                                <label class="form-check-label" for="mode_livraison_2" style="font-weight: bolder;">72 Heures</label>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <input class="form-check-input" type="radio" name="mode_livraison" id="mode_livraison_3" value="5">
                                <label class="form-check-label" for="mode_livraison_3" style="font-weight: bolder;">5 Jours</label>
                            </div>

                        </div><!--/ .theme_box -->

                    </section><!--/ [col] -->

                    <section class="col-sm-4">

                        <h4>Récapitulatif et moyen de paiement</h4>

                        <div class="table_wrap">

                            <table class="">

                                <tfoot>

                                <tr>
                                    <td>Total fature :</td>
                                    <td><span class="total">{{ total|number_format(0, " ", " ") }}</span> <span style="color: #cb9700">F CFA</span></td>
                                </tr>

                                <tr>
                                    <td><span class="icon-truck"></span>Coût livraison :</td>
                                    <td>
                                        {% if total >= 50000 %}
                                            <span style="color: green"><span class="icon-check-1">Livraison gratuite !!</span></span>
                                        {% else %}
                                            <span class="total" id="montant_livraison"></span> <span style="color: #cb9700">F CFA</span>
                                        {% endif %}
                                    </td>
                                </tr>

                                </tfoot>

                            </table>

                        </div>

                        <div class="col-lg-12 col-md-12" style="margin-top: 15px !important;">
                            <label for="mode" class="required bold">Mode de paiement ?</label>
                            <select name="mode" id="mode" required>
                                <option value="">-- Choisir un mode de paiement --</option>
                                {% if total >= 50000 %}
                                    <option value="cash">Payer cash en ligne</option>
                                {% else %}
                                    <option value="livraison">Payer à la livraison</option>
                                {% endif %}
                                <!--<option value="cash">Payer cash en ligne</option>-->
                            </select>
                        </div><!--/ [col] -->

                        <div class="col-lg-12 col-md-12" style="margin-top: 15px !important; margin-bottom: 20px!important;">
                            <label for="buy" class="required bold">Moyen de paiement</label>
                            <select name="buy" id="buy" required>
                                <option value="">-- Payer par ? --</option>
                                <option value="OMCIV2">Orange Money - OM</option>
                                <option value="FlOOZ">Moov Money - Moov Money</option>
                                <option value="MOMO">MTN Money - MOMO</option>
                                <option value="CARD">Visa CARD</option>
                            </select>
                        </div><!--/ [col] -->

                        <div class="col-lg-12 col-md-12">

                            <input type="text" name="" placeholder="Entrez votre code de coupon si vous en avez un">

                        </div>

                        <div class="col-lg-12 col-md-12 " style="margin-top: 10px!important;">
                            <button class="middle_btn btn_livraison" style="background-color: #cb9700; color: white" type="submit">
                                <i class="icon-lock"></i><span class="Msg">Valider et payer ma livraison en ligne </span>
                            </button>
                            <button class="middle_btn btn_cash" style="background-color: #cb9700; color: white" type="submit">
                                <i class="icon-lock"></i><span class="Msg">Valider et payer cash en ligne </span>
                            </button>
                        </div>


                    </section><!-- / [col] -->


                    </form>

                </div><!--/ .row -->

            </div><!--/ .section_offset -->
        </div>
    </div>

{% endblock %}