<ul class="infoblocks_wrap section_offset four_items">

    <li>

        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

        <a href="#" class="infoblock type_1">

            <i class="icon-user-male"></i>
            <span class="caption"><b>Catégories hommes</b></span>
            <p>Êtes-vous un homme ? alors c'est partir !</p>

        </a><!--/ .infoblock-->

        <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->

    </li>

    <li>

        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

        <a href="#" class="infoblock type_1">

            <i class="icon-user-woman"></i>
            <span class="caption"><b>Catégories femmes</b></span>
            <p>Êtes-vous une femme ? alors c'est partir !</p>

        </a><!--/ .infoblock-->

        <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->

    </li>

    <li>

        <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

        <a href="#" class="infoblock type_1">

            <i class="icon-child"></i>
            <span class="caption"><b>Catégories enfants</b></span>
            <p>Les vêtement de vos enfant de 0 à 10 ans c'est ici !</p>

        </a><!--/ .infoblock-->

        <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->

    </li>

    <li>

        <!-- - - - - - - - - - - - - - Support - - - - - - - - - - - - - - - - -->

        <a href="#" class="infoblock type_1">

            <i class="icon-child"></i>
            <span class="caption"><b>Catégories autres</b></span>
            <p>Les vêtement de vos enfant de 0 à 10 ans c'est ici !</p>

        </a><!--/ .infoblock-->

        <!-- - - - - - - - - - - - - - End of infoblock - - - - - - - - - - - - - - - - -->

    </li>

</ul>