<footer id="footer">

    <div class="footer_section_3 align_center">

        <div class="container">

            <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

            <p class="copyright" style="color: #ccc">
                <img src="{{ asset('bootstrap/images/logo_blanc.png') }}" style="width: 250px" alt="">
            </p>


        </div><!--/ .container-->

    </div><!--/ .footer_section-->

    <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

</footer>