<header id="header" class="type_6">

    <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

    <div class="top_part" style=" background-color: #070301">

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <!-- - - - - - - - - - - - - - Login - - - - - - - - - - - - - - - - -->

                    <p class="c_info_location">Cocody Saint Jean , Abidjan, Côte d'Ivoire</p>

                    <!-- - - - - - - - - - - - - - End login - - - - - - - - - - - - - - - - -->

                </div> <!--/ [col]-->

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="clearfix">

                        <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings">

                            <span class=""><img src="{{ asset('bootstrap/') }}images/flag_fr.png" style="width: 19px;height: 12px" alt="">Français</span>

                            <!-- <ul class="dropdown site_setting_list language">

                                <li class="animated_item"><a href="#"><img src="{{ asset('bootstrap/') }}images/flag_en.jpg" alt=""> English</a></li>
                            </ul> -->

                        </div><!--/ .alignright.site_settings-->

                        <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                        <div class="alignright site_settings currency">

                            <span class="">DEVISE: CFA</span>

                            <!--<ul class="dropdown site_setting_list">
                                <li class="animated_item"><a href="#">EUR</a></li>
                            </ul>-->

                        </div><!--/ .alignright.site_settings.currency-->

                        <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                    </div><!--/ .clearfix-->

                </div><!--/ [col]-->

            </div><!--/ .row-->

        </div><!--/ .container -->

    </div><!--/ .top_part -->

    <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

    <hr>

    <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

    <div class="bottom_part">

        <div class="container">

            <div class="row">

                <div class="main_header_row">

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                        <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                        <a href="https://sapeurdebaby.com">
                            <img src="{{ asset('bootstrap/images/logo.png') }}" style="width: 200px" alt="">
                        </a>

                        <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                </div><!--/ .main_header_row-->

            </div><!--/ .row-->

        </div><!--/ .container-->

    </div><!--/ .bottom_part -->

    <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->
</header>